body {
    background-color:#1D221D /* cor do fundo da pagina */
}

img {
    display: block;       /* a imagem passa a se comportar como um "bloco" e você consegue mover ela */
    margin-left: auto;
    margin-right: auto;
    width: 150px;          /* Define a largura da imagem */
    height: auto;         /* Calcula a altura da imagem automaticamente com base na largura (width). impede que a imagem fique achatada */
    margin-bottom: -10px;  /* Cria um espaçamento de 20 pixels na parte inferior da imagem, empurrando o título "Bem vindo ao Compra Fácil" um pouco para baixo para não ficar grudado no ícone. */
    margin-top: 50px;     /* afasta a imagem do topo */
}


/* BEM VINDO AO COMPRA FACIL */
.primeiro-paragrafo {
    text-align: center; /* texto no centro da pagina */ 
    font-size: 30px;    /* tamanho da fonte */
    color: white;     /* cor da fonte */
    padding-top: 30px;  /* distancia ta escrita com o top da pagina */
    margin-top: 2px;    /* distancia entre as linhas */
    margin-bottom: 1px; /* distancia entre as linhas */
}

/* ORGANIZE A LISTA, COMPARE PREÇOS E ACOMPANHE OS GASTOS DA FAMILIA */
.segundo-paragrafo{
   text-align: center;
   font-size: 14px;
   color: rgb(185, 170, 170);
   line-height: 0.2;
}

/* ESCRITA */
.input-group {
  text-align: center;
  font-size: 20px;
  color: rgb(185, 170, 170);
}

/* Aplica a margem no LABEL para afastar do input que vem abaixo */
.input-group label {
  display: block;
  margin-bottom: -15px; /* Aumente este valor se quiser mais espaço */
}

/* primeira caixa */
.minha-caixa {
  width: 100%;                          /* Ocupa toda a largura do container pai */
  max-width: 250px;                     /* Limita a largura máxima */
  height: 35px;                         /* Define uma altura fixa confortável */
  padding: 0 15px;                      /* Adiciona Espaçamento Interno (Afasta a escrita da borda) */
  border: 2px solid #ccc;             /*Estiliza a Borda (Tamanho, Estilo e Cor) */
  border-radius: 8px;                   /* Arredonda os Cantos */
  background-color: rgb(94, 92, 92);
  color:rgb(235, 232, 232);
  font-size: 16px;
  outline: none;                        /* <-- ESSENCIAL para remover a borda padrão do browser */
  transition: all 0.8s ease;            /* Transição Suave (para animações) */
  box-sizing: border-box;               /* Mantém o tamanho correto com padding e border */
}

/* Modificações quando o utilizador clica no input (Foco) */
.minha-caixa:focus {
  border-color: #16a178;  /* Borda fica azul */
  background-color: #fff; /* Fundo fica branco puro */
  color: black;
  box-shadow: 0 0 8px rgba(39, 114, 70, 0.3); /* Adiciona um brilho azul suave */
}
